body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #85cdf5;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    height: 4.17%;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    color: black;
    transition: border-bottom 0.1s;
}

header a:hover {
    border-bottom: 3px solid black;
}

h1 {
    width: 100%;
    text-align: center;
    
}

h2 {
    color: #dcb859;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

#adote {
    background-image: url("./imagens/image\ \(3\).png");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 0px 0px 10% 0px;
}

#adote h1 {
    font-weight: bolder;
    font-size: 3em;
}

#adote hr {
    border: 2px solid white;
    width: 10%;
    margin-top: -4%;
}

#adote p {
    width: 50%;
    text-align: center;
    margin: auto;
}

#sobre {
    background-color: #2c567f;
    height: 12.5%;
    padding: 10px;
}

#sobre p {
    color: white;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
}

#valores {
    background-color: #333333;
    padding: 10px;
    height: 20.83%;
}

#val-icones-e-texto {
    display: flex;
    justify-content: space-evenly;
    
}

#val-icones-e-texto div {
    text-align: center;
    padding: 10px 30px;
}

#val-icones-e-texto img {
    text-align: center;
    border-radius: 50%;
}

#valores h4,
#valores p {
    color: white;;
}

#valores img {
     background-color: white;;
}

#lobos-exemplo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}

#lobos-exemplo h2 {
    padding-bottom: 30px;
}

#lobo1,
#lobo2  {
    display: flex;
    align-items:center;
}

#div-img-lobo1 img {
    box-shadow: -30px -30px #2c5680;
}

/*#div-img-lobo1::after {
    position: absolute;
    content: "";
    offset: top;
    offset: left;
    width: 100%;
    height: 100%;
    background-color: #2c5680;
}*/

#div-img-lobo2 {
    position: relative;
    box-shadow: 30px -30px #2c5680;
}

#img-lobo1 {
    width: 20em;
}

#img-lobo2 {
    width: 20em;
}

#texto-lobo1, 
#texto-lobo2 {
    max-width: 300px;
    color: black;
    padding: 10px;
    line-height: 0.9rem;
}

#texto-lobo1 {
    padding-left: 30px;
}

#texto-lobo2 {
    padding-right: 30px;
    text-align: right;
}

footer {
    display: flex;
    align-items: center;
    background-color: #333333;
    height: 12.5%;
    justify-content: space-evenly;
    color: white;
}

.button {
    background-color: #deb959;
    border: none;
    color: black;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#mapinha {
    width: 10em;
}